# Redirect root to /en/index.html
#RedirectMatch ^/$ /en/index.html

Redirect /reference/index.html /documentation/reference/index.html
Redirect /es/reference/ /es/documentation/reference/
Redirect /fr/reference/ /fr/documentation/reference/
Redirect /learn/guide /get-started
Redirect /fr/learn/guide /fr/get-started
Redirect /es/learn/guide /es/get-started
Redirect /learn/data-policy/ /documentation/data-policy/
Redirect /es/learn/data-policy/ /es/documentation/data-policy/
Redirect /fr/learn/data-policy/ /fr/documentation/data-policy/